@import './common.scss';

#banner{
 width: 970px;
 height: 250px; 
}


#olg{
	// border: 1px solid red;
	width: 158px;
	height: 81px;
	@include pos(-2, 169);
	// opacity: .5 !important;
}




#legalBtn{	
	@include pos(820, 0);	
	width: 140px;
	height: 50px;
	// opacity: 1 !important;
}
#legalContent{
	font-size: 14px;
	padding: 20px;
}


.frame1 .logo-group{
	transform-origin: 50% 50%;
	@include pos-scale(260, -22, .5);
}



.phone-max-logo{
	transform-origin: 50% 50%;
	@include pos-scale(457, 40, .5);
}


.phone-649-logo{
	transform-origin: 50% 50%;
	@include pos-scale(460, 36, .5);
}

.frame2 .logo-group{
	transform-origin: 50% 50%;
	@include pos-scale(442, -109, .22);
}


.frame2 .t3{	
	@include pos-scale(0, 24, .5);
}